/ServiceRegistry/ServiceRegistry/nbproject/private/
/Client/SadokSync/nbproject/private/
/Client/SadokSync2/nbproject/private/
/Client/SadokSync/target/
/ServiceRegistry/ServiceRegistry/target/
/Client/SadokSync/nb-configuration.xml